.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-app {
  display: inline-block;
  min-width: 400px;
  background-color: blue;

  &-dock-open {
    width: 80%;
  }

  &-dock-closed {
    width: 100%;
  }
}
