.dock {
  display: flex;
  flex-direction: row;
  background-color: red;

  &-navigators {
    margin-left: auto;
    margin-right: auto;
  }
  &-navigator {
    font-size: 0.5em;
    display: inline-block;
  }
}
