.chat-box {
  display: inline-block;
  min-width: 100px;
  width: 10%;
  height: 100%;
  overflow-y: scroll;
  max-height: 100%;

  &-search-bar {
    margin: auto;
  }
  &-offline {
  }
  &-online {
  }
}
